body{
	margin:0px auto;
	width: 80%;
	background-color:#FF9;
}
main{
	border:1px dotted red;
	margin:0px auto;
	width:80%;
}
caption{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

span{
	font-style: italic;
}

.my-class{
	border-color: #ff0000;
}